@model ForgotPasswordDTO

<div style="direction: rtl; padding: 20px">
    <h2>@Model.FullNamePersian عزیز !</h2>
    <p>
        کد بازیابی اکانت شما:@Model.ActiveCode
        <br />
        جهت بازیابی حساب کاربری خود روی لینک زیر کلیک کنید و کد را وارد کنید.
    </p>
    <p>
        <a href="http://localhost:4000/auth-reset-password.html">بازیابی کلمه عبور</a>
    </p>
</div>