@model AirportAddDTO
@{
    ViewData["Title"] = "AddAirport";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="box-header with-border">
    افزودن فرودگاه |
    <a href="/Admin/Airports/GetAllAirport" class="btn bg-navy"> <i class="fa fa-backward"></i> بازگشت </a>
</h1>

<form method="post" class="box-body">
    <div class="row">
        <div class="col-xs-4">
            <label asp-for="PersianName">نام</label>
            <input type="text" class="form-control" asp-for="PersianName" placeholder="نام">
            <span class="text-danger" asp-validation-for="PersianName"></span>
            <br />
            <label asp-for="EnglishName">نام انگلیسی</label>
            <input type="text" class="form-control" asp-for="EnglishName" placeholder="نام انگلیسی">
            <span class="text-danger" asp-validation-for="EnglishName"></span>
            <br />
            <label asp-for="CityId">شهر</label>
            <select class="form-control" asp-for="CityId" asp-items="@(ViewData["Cities"] as SelectList)"></select>
            <span class="text-danger" asp-validation-for="CityId"></span>
            <br />
            <button type="submit" class=" btn btn-success btn-lg btn-block"> <i class="fa fa-check"></i> ثبت </button>
        </div>
    </div>
</form>

