@model List<AirportDTO>
@{
    ViewData["Title"] = "GetAllAirport";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="box-header with-border">لیست فرودگاه ها | <a href="AddAirport" class="btn btn-success btn-lg"> <i class="fa fa-plus"></i> افزودن فرودگاه </a></h1>

<div class="box">
    <div class="box-body">
        <table class="table table-bordered" style="table-layout:auto;width:100%">
            <thead>
                <tr>
                    <th style="width: 10px">ردیف</th>
                    <th>نام</th>
                    <th>شهر</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 1;
                }
                @foreach (var item in Model)
                {

                    <tr>
                        <td>@count</td>
                        <td>@item.Name</td>
                        <td>@item.CityName</td>
                        <td>
                            <a href="DeleteAirport/@item.Id" class="btn btn-danger btn-sm"> <i class="fa fa-trash"></i> حذف </a> |
                            <a href="EditAirport/@item.Id" class="btn btn-warning btn-sm"> <i class="fa fa-pencil"></i> ویرایش </a>
                        </td>
                    </tr>
                    count++;
                }
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
</div>

