<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FlyWithUs</title>
    <link href="~/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/css/rtl.css" rel="stylesheet" />
    <link href="~/css/jquery-jvectormap.css" rel="stylesheet" />
    <link href="~/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/css/_all-skins.min.css" rel="stylesheet" />
    <link href="~/css/CustomStyle.css" rel="stylesheet" />
    <link href="~/css/all.css" rel="stylesheet" />
</head>
<body class="hold-transition skin-yellow sidebar-mini">
    <header class="main-header">
        <!-- Logo -->
        <a href="/Admin/Home/Index" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">پنل</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>کنترل پنل مدیریت</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-sign-out-alt"></i> خروج</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar" style="height: auto;">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-right image">
                    <img src="~/img/Me-min_160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-right info">
                    <p>علی سعیدی</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> آنلاین</a>
                </div>
            </div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu tree" data-widget="tree">
                <li class="header"></li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-user"></i>
                        <span>مدیریت کاربران</span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/Admin/Users/GetAllUser"><i class="fa fa-list"></i>مشاهده کاربران</a></li>
                        <li><a href="/Admin/Users/AddUser"><i class="fa fa-plus"></i> افزودن کاربر</a></li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-users"></i>
                                <span>مدیریت نقش ها</span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/Admin/Roles/GetAllRole"><i class="fa fa-list"></i>مشاهده نقش ها</a></li>
                                <li><a href="/Admin/Roles/AddRole"><i class="fa fa-plus"></i> افزودن نقش</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-plane"></i>
                        <span>مدیریت آژانس های هواپیمایی</span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/Admin/Agancies/GetAllAgancy"><i class="fa fa-list"></i>مشاهده آژانس ها</a></li>
                        <li><a href="/Admin/Agancies/AddAgancy"><i class="fa fa-plus"></i> افزودن آژانس</a></li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-plane"></i>
                                <span>مدیریت هواپیما ها</span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/Admin/Airplanes/GetAllAirplane"><i class="fa fa-list"></i>مشاهده هواپیما ها</a></li>
                                <li><a href="/Admin/Airplanes/AddAirplane"><i class="fa fa-plus"></i> افزودن هواپیما</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-globe"></i>
                        <span>مدیریت کشور ها</span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/Admin/Countries/GetAllCountry"><i class="fa fa-list"></i>مشاهده کشور ها</a></li>
                        <li><a href="/Admin/Countries/AddCountry"><i class="fa fa-plus"></i> افزودن کشور</a></li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-city"></i>
                                <span>مدیریت شهر ها</span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/Admin/Cities/GetAllCity"><i class="fa fa-list"></i>مشاهده شهر ها</a></li>
                                <li><a href="/Admin/Cities/AddCity"><i class="fa fa-plus"></i> افزودن شهر</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-terminal"></i>
                                <span>مدیریت فرودگاه ها</span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/Admin/Airports/GetAllAirport"><i class="fa fa-list"></i>مشاهده فرودگاه ها</a></li>
                                <li><a href="/Admin/Airports/AddAirport"><i class="fa fa-plus"></i> افزودن فرودگاه</a></li>
                            </ul>
                        </li>
                    </ul>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-exchange-alt"></i>
                        <span>مدیریت سفر ها</span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/Admin/Travels/GetAllTravel"><i class="fa fa-list"></i>مشاهده سفر ها</a></li>
                        <li><a href="/Admin/Travels/AddTravel"><i class="fa fa-plus"></i> افزودن سفر</a></li>
                    </ul>
                </li>
                </li>

            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <div class="content-wrapper">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/CustomJS/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/CustomJS/adminlte.js"></script>
    <script src="~/CustomJS/bootstrap.min.js"></script>
    <script src="~/js/all.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
