@model AgancyUpdateDTO
@{
    ViewData["Title"] = "EditAgancy";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="box-header with-border">
    ویرایش آژانس |
    <a href="/Admin/Agancies/GetAllAgancy" class="btn bg-navy"> <i class=" fa fa-backward"></i> بازگشت </a> | 
    <a href="/Admin/Agancies/DeleteAgancy/@Model.Id" class="btn btn-danger"> <i class=" fa fa-trash"></i> حذف </a>
</h1>

<form method="post" action="~/Admin/Agancies/EditAgancy" class="box-body">
    <input type="hidden" asp-for="Id" />
    <div class="col-xs-4">
        <label asp-for="Name">نام آژانس</label>
        <input type="text" class="form-control" asp-for="Name" placeholder="نام">
        <span class="text-danger" asp-validation-for="Name"></span>
        <br />
        <button type="submit" class=" btn btn-success btn-lg btn-block"> <i class="  fa fa-check"></i> ثبت </button>
    </div>
</form>
