@model RoleAddDTO
@{
    ViewData["Title"] = "AddRole";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="box-header with-border">
    افزودن نقش |
    <a href="/Admin/Roles/GetAllRole" class="btn bg-navy"> <i class="fa fa-backward"></i> بازگشت </a>
</h1>

<form method="post" class="box-body">
    <div class="row">
        <div class="col-xs-4">
            <label asp-for="Name">نام نقش</label>
            <input type="text" class="form-control" asp-for="Name" placeholder="نام">
            <span class="text-danger" asp-validation-for="Name"></span>
            <br />
            <button type="submit" class=" btn btn-success btn-lg btn-block"> <i class="fa fa-check"></i> ثبت </button>
        </div>
    </div>
</form>

