@model RoleUpdateDTO
@{
    ViewData["Title"] = "EditRole";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="box-header with-border">
    ویرایش نقش |
    <a href="/Admin/Roles/GetAllRole" class="btn bg-navy">بازگشت</a>
</h1>

<form method="post" class="box-body">
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="col-xs-4">
            <label asp-for="Name">نام نقش</label>
            <input type="text" class="form-control" asp-for="Name" placeholder="نام">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
    </div>
    <div class="col-xs-4 box-footer">
        <button type="submit" class=" btn btn-success btn-lg btn-block">ثبت</button>
    </div>
</form>

