@model GridResultDTO<RoleDTO>
@{
    ViewData["Title"] = "GetAllRole";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="box-header with-border">
    لیست نقش ها |
    <a href="AddRole" class="btn btn-success btn-lg"> <i class="fa fa-plus"></i> افزودن نقش </a>
</h1>

<div class="box">
    <div class="box-body">
        <table class="table table-bordered" style="table-layout:auto;width:100%">
            <thead>
                <tr>
                    <th style="width: 10px">ردیف</th>
                    <th>نام نقش</th>
                    <th>تاریخ ایجاد</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 1;
                }
                @foreach (var item in Model.Data)
                {

                    <tr>
                        <td>@count</td>
                        <td>@item.Name</td>
                        <td>@item.CreateDate.ToShamsi()</td>
                        <td>
                            <a href="DeleteRole/@item.Id" class="btn btn-danger btn-sm"> <i class="fa fa-trash"></i> حذف </a>|
                            <a href="EditRole/@item.Id" class="btn btn-warning btn-sm"> <i class="fa fa-pen"></i> ویرایش </a>
                        </td>
                    </tr>
                    count++;
                }
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
            @if (Model.Count > 10)
            {
                <li><a href="#">«</a></li>

                int pagecount = 1;
                if ((Model.Count) % 10 == 0)
                {
                    pagecount = (Model.Count) / 10;
                }
                else
                {
                    pagecount = (((Model.Count) / 10) + 1);
                }
                for (int i = 1; i <= pagecount; i++)
                {
                    <li><a href="~/Admin/Roles/GetAllRole/@((i-1)*10)/10">@i</a></li>
                }
                <li><a href="#">»</a></li>
            }
        </ul>
    </div>
</div>

