@model CityAddDTO
@{
    ViewData["Title"] = "AddCity";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="box-header with-border">
    افزودن شهر |
    <a href="/Admin/Cities/GetAllCity" class="btn bg-navy"> <i class="fa fa-backward"></i> بازگشت </a>
</h1>

<form method="post" class="box-body" enctype="multipart/form-data">
    <div class="row">
        <div class="col-xs-4">
            <label asp-for="PersianName">نام فارسی</label>
            <input type="text" class="form-control" asp-for="PersianName" placeholder="نام">
            <span class="text-danger" asp-validation-for="PersianName"></span>
            <br />
            <label asp-for="EnglishName">نام انگلیسی</label>
            <input type="text" class="form-control" asp-for="EnglishName" placeholder="نام">
            <span class="text-danger" asp-validation-for="EnglishName"></span>
            <br />
            <label asp-for="Image">تصویر</label>
            <input type="file" class="form-control" asp-for="Image" placeholder="نام">
            <span class="text-danger" asp-validation-for="Image"></span>
            <br />
            <label asp-for="CountryId">کشور</label>
            <select class="form-control" asp-for="CountryId" asp-items="@(ViewData["Countries"] as SelectList)"></select>
            <span class="text-danger" asp-validation-for="CountryId"></span>
            <br />
            <button type="submit" class=" btn btn-success btn-lg btn-block"> <i class="fa fa-check"></i> ثبت </button>
        </div>
    </div>
</form>

